// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 16px;
// $font-weight-root: 300;

$color-primary: #00ffbb;
$color-secondary: #0c2461;
$color-light: #005760;
$color-white: white;
